[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = ../zfsonlinux
[submodule "submodules/ubuntu-kinetic"]
	path = submodules/ubuntu-kinetic
	url = git://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/kinetic
